body {
  padding-top: 50px; }

navbar {
  background-color: cornflowerblue;
  display: block;
  height: 50px; }

map-container {
  height: calc(100vh - 50px); }

map {
  height: 100%;
  width: inherit; }

@media screen and (min-width: 768px) {
  navbar {
    background-color: orange; }
  map {
    position: fixed !important; } }

chooser select {
  width: 70%; }

.circle {
  border-radius: 50%; }

.small-square {
  width: 2em;
  height: 2em; }

control {
  display: block;
  margin: 1em; }
